ol {
    list-style-type: none;
    margin: 50;
    padding: 50;
    overflow: hidden;
    background-color:blue;
    /* position: fixed; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:black;
  }
h1{
    font-family: 'PT Serif', serif;
}
h2{
    text-align: center;
    font-family: Verdana;
    font-weight: 100;
    color: blue;
}
h3{
    font-family: Verdana;
}
h4{
font-family: Verdana;
color:blue;
}
#about{
    float: left;
}

.card{
    width: 50%;
    text-align: center;
    margin: 60 auto; 
    float: left;
    margin-bottom: 10px;
}

.button{
    padding-left: 30px;
}

.barbra{
    padding-left: 480px;
}
body{
background-color: #CFDEF3;
}
 @media only screen and (orientation: landscape) {
    body {
        background-color: #CFDEF3;
    }
  }

