h1{
    font-family: 'PT Serif', serif;
}
h2{
    text-align: center;
    font-family: Verdana;
    font-weight: 100;
}
h3{
    font-family: Verdana;
}
h4{
font-family: Verdana;
}
#about{
    float: left;
}

.card{
    width: 50%;
    text-align: center;
}

.button{
    padding-left: 30px;
}

.barbra{
    padding-left: 480px;
}
body{
background-color: #CFDEF3;
}
.row{

}