h1{
    font-family: 'PT Serif', serif;
}

#about{
    float: left;
}

.card{
    width: 50%;
    text-align: center;
}

.button{
    padding-left: 30px;
}
/* 
.container-fluid{
    text-align: center;
} */

.barbra{
    padding-left: 480px;
}
